@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#26166e;
    /* --black:#13131a; */
    --bg:rgb(4, 4, 8);
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 4rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.75rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
/* .logo{
    height:10rem;
    padding : 1rem;
} */
.header .logo img{
    height: 10rem;
    padding: 1rem;
}
.header a{
    text-decoration: none;
}
.header .navbar a{
    margin:0 1rem;
    font-size: 2.0rem;
    color:#fff;
    
}
.header .navbar {
    display: flex;
    /* justify-items: flex-end; */
    
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    /* color:#fff; */
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}



.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about{
    margin-top: 8rem ;
}
.about .row{
    display: flex;
    align-items: center;
    /* background:var(--black); */
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.team .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.team .box-container .box img{
    height: 10rem;
}

.team .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.team .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.team .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.team .box-container .box:hover{
    background:#fff;
}

.team .box-container .box:hover > *{
    /* color:var(--black); */
}

.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.gallery .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.gallery .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.gallery .box-container .box .icons a:hover{
    background:var(--main-color);
}

.gallery .box-container .box .image{
    padding: 2.5rem 0;
}

.gallery .box-container .box .image img{
    height: 25rem;
}

.gallery .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.gallery .box-container .box .content .stars{
    padding: 1.5rem;
}

.gallery .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.gallery .box-container .box .content .price{
    color:#fff;
    font-size: 2.5rem;
}

.gallery .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.winner .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.winner .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.winner .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.winner .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.winner .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.winner .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact{
    /* border: 2px solid white; */
    margin: 5rem auto;
    /* box-shadow: 1rem 2rem 2rem rgb(255, 255, 255) inset; */
    
}

.contact .row{
    display: flex;
    /* background:var(--black); */
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}













/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        /* color:var(--black); */
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

#footer .footer-top .social-links a:hover {
    background: #0bab64 ;
    color: #fff;
  }
  #footer .footer-top h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid #0bab64 ;
  }
  #footer .footer-top img {
    height:8rem;
    padding: 0.75rem;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: #0bab64 ;
    font-size: 2rem;
  }
  #footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #262c44;
    padding: 10px 0;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #eee;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: #0bab64 ;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #0bab64 ;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #e0072f;
  }
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  }